.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.mainContent {
  flex-grow: 1;
  background-color: #f1f3f4;
  display: flex;
  justify-content: space-between;
}

.generatorLeft {
  background-color: white;
  width: 35%;
  padding: 0rem 0.5rem;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
  clip-path: inset(0px -15px 0px 0px);
}

.divider {
  display: flex;
  flex-direction: column;
  padding: 1rem 0.5rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.151);
}

.dividerTitle {
  font-size: 1.5rem;
}

.dividerContent {
  margin-top: 1rem;
}

.generatorRight {
  width: 60%;
  padding: 2rem;
}

.generator {
  border-radius: 10px;
  width: 100%;
  height: 80%;
  /* background-color: white; */
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.generatorOptions {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

.generatorOptions button {
  padding: 1rem 3rem;
  border-radius: 10px;
  border: none;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.discardButton {
  background-color: #d44d52;
}

.rhsGeneratorOptions {
  display: flex;
  gap: 1rem;
}

.storeButton {
  background-color: #a9d861;
}

.collectButton {
  background-color: #66a9f5;
}

@media only screen and (max-width: 600px) {
  .mainContent {
    flex-direction: column;
    justify-content: start;
  }

  .generatorLeft {
    width: 100%;
  }
  .generatorRight {
    width: 100%;
  }
  .generator {
    height: 350px;
  }
  .generatorOptions {
    flex-direction: column;
    gap: 1rem;
  }
  .rhsGeneratorOptions {
    flex-direction: column;
  }
}
