.navbar {
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 0.8rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.companyName {
  font-size: 2.2rem;
}

.navbarLeft {
  display: flex;
  flex-grow: 1 0;
  align-items: center;
  font-weight: bold;
  font-size: 1.5rem;
}

.navbarRight {
  display: flex;
  gap: 1rem;
}

@media only screen and (max-width: 600px) {
  .navbarRight {
    gap: 0rem;
  }
}

.navbarItem {
  text-decoration: none;
  color: rgb(47, 47, 47);
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  transition: 0.5s ease-in-out;
}

.navbarRight > .navbarItem:hover {
  background-color: rgb(222, 222, 222);
  transition: 0.5s ease-in-out;
}
