.navbar {
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.navbarLeft {
  display: flex;
  flex-grow: 1 0;
  align-items: center;
  font-weight: bold;
  font-size: 1.5rem;
}

.navbarRight {
  display: flex;
  gap: 1rem;
}

.navbarItem {
  /* background-color: blue; */
  /* border-radius: 5px; */
  text-decoration: none;
  color: rgb(47, 47, 47);
  padding: 0.5rem;
}
